@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url(./variables.css);
body {
  background-color: var(--shades-color-black);
  margin: 0;
  padding: 0;
}
.account-container {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: row;
}

.container {
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.address {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: white;
}

.connectButton {
  width: auto; /* Adjust the width as needed */
  padding: 5px 10px; /* Adjust the padding as needed */
  margin-bottom: 10px; /* Add space between the "Connect" button and the options */
}

.buttonWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end; /* Align buttons to the right */
}

button {
  background-color: #3498db;
  color: white;
  padding: 5px 10px;
  border: none;
  margin-bottom: 5px;
  cursor: pointer;
   width: 50%; /* Each button takes up 50% of the container width */
  box-sizing: border-box; /* Include padding and border in the width */
}

button:hover {
  background-color: #2980b9;
}
.balance {
  margin-top: 10px;
  font-weight: bold;
  color: #333; /* Choose your desired color */
}

.disconnect-container {
  display: flex;
  justify-content: center;
}

.disconnect-btn {
  background-color: blue;
  color: white;
  padding: 1px 2px;
  border: none;
  cursor: pointer;
  width: fit-content;
}

.disconnect-btn:hover {
  background-color: darkblue;
}

.expand {
  cursor: pointer;
  color: blue;
}

.expanded-details {
  margin-top: 10px;
}


