:root {
    /* Colors */

    /* Primary Color */
    --shades-color-primary50: #ece9fd;
    --shades-color-primary100: #c5baf8;
    --shades-color-primary200: #a999f5;
    --shades-color-primary300: #816af1;
    --shades-color-primary400: #694dee;
    /* Main */
    --shades-color-primary500: #4321ea;
    --shades-color-primary600: #3d1ed5;
    --shades-color-primary700: #3017a6;
    --shades-color-primary800: #251281;
    --shades-color-primary900: #1c0e62;

    /* Accent Color */

    --accent-color-green: #25d366;
    --accent-color-green-hover: #38da73;
    --accent-color-green-opacity50: #25d36650;
    --accent-color-red: #EF4444;
    --accent-color-red-opacity50: #EF444450;

    /* Shades Grey Color */
    --shades-color-white: #ffffff;
    --shades-color-black: #07090B;
    --shades-color-grey50: #F4F6FA;
    --shades-color-grey100: #EEF0F4;
    --shades-color-grey200: #DDE1E8;
    --shades-color-grey300: #CBD3DD;
    --shades-color-grey400: #BAC4D1;
    --shades-color-grey500: #A9B5C6;
    --shades-color-grey600: #7D8FA9;
    --shades-color-grey700: #586A84;
    --shades-color-grey800: #3B4758;
    --shades-color-grey900: #1D232C;
    --shades-color-grey0: #161B21;
    --shades-color-grey-100: #0F1216;


    /* Margin,Padding,Gap */
    --space-0: 0px;
    --space-1: 4px;
    --space-2: 8px;
    --space-3: 16px;
    --space-4: 24px;
    --space-5: 32px;
    --space-6: 40px;
    --space-7: 48px;
    --space-8: 56px;
    --space-9: 64px;
    --space-10: 72px;
    --space-11: 80px;
    --space-12: 120px;

    /* Font Family */

    --primary-font: 'DM Sans', sans-serif;

}